.sponsor {
    display: flex;
    margin-top: .75em;
    align-items: center;
    border-radius: 10px;
}

.sponsor:hover {
    background-color: var(--search-bar-color);
}

.sponsor-img {
    max-width: 150px;
    margin-right: .75em;
}

.sponsor-info {
    display: flex;
    flex-direction: column;
}

.sponsor-info a {
    color: white;
}